<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Film Reviews</h2>

   <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Sign Up">
   </form>

 

  </div>
</div>


<p> Please Sign Up or <a href="/login">Log In</a> to continue.