<h2>Write a new review? </h2>

<form class="" action="/review_entries" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="name">Content:</label>
  <input type="text" name="content">


  <input type="submit" name="" value="Create Review">
</form>